.determination {
	background: url('pics/determination.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



.textBlue {
  color:#00C1C1; /*light blue*/
}

.bod {
  background-color: black;
}

.backBlack {
	background-color: black;
}

a {
	text-decoration:none;
}

.textGrey {
  color:grey;
}

.cyberPic {
	background-color: rgba(0, 0, 0, 0.8);
}

.par {
font-size: 24px;
}

.marg {
	margin: 4%;
}

.homelink:hover {
	color:#00C1C1;
	text-decoration: none;
}

.homelink2{
	color:#00C1C1;
}

.homelink2:hover {
	text-decoration: none;
}

.backDGrey {
	background-color:#121212;
}

.textYellow {
	color:yellow;
}

.backWhite {
  background-color: white;
}

.backGrey {
  background-color: grey;
}

.backBlue {
  background-color: #003ECC;
}

.backBlack {
  background-color: black;
}

.textYellow {
	color:yellow;
}
