 /*styleJaynky.css*/


.bod1 {
	background: url('pics/hardWood.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color:#fff;
  	background-color:#333;
}

.body {
	background: url('pics/hardWood.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color:#fff;
  	background-color:#333;
}

.wielder {
 border-bottom:grey 8px solid;
}

.titleCard {
 background-color:transparent;
 color:#00baff;
}

.toolsCard {
 background-color:transparent;
}

.titleWidth {
 font-size: 4vw;
}

.titleWidth2 {
 font-size: 6vw;
}

.titleWidth3 {
 font-size: 5vw;
}

.toolsBody {
 background-color:rgb(0, 0, 0, .7);
 border:grey 2px solid;
}

.portCard {
 margin:3.8%;
 font-family:Andale Mono, monospace;
 background-color:#00314B;
 color:orange;
}

.portImg {
 padding-top:4%;
}

.fixedNav {
 border-bottom:4px solid grey;
}

.blackCard {
 background-color:black;
}

.portText {
 padding:5%;
}

.jcolor {
 background-color:transparent;
}

.smallSpace {
 height:10%;
}
