body {
  background-color: black;
  color:black;
}

.lightBlue {
  color:#00baff;
}

.lightGrey {
  color:black;
}

.backPic {
        background: url('pics/timePic.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
        color:#fff;
        background-color:black;
}

.jcolor {
  background-color: transparent;
}

.blackText {
  color:black;
}

.blackOpaque {
  background-color: rgba(0, 0, 0, 0.7);
}

hr {
  display:block;
  border-width: 2px;
  border-color: grey;
}
